%div.title Notifications
%table{ :border => "1" }
	%tr
		%td.transactionList Id
		%td.transactionList Info
		%td.transactionList Body
	- notifications.each do |n|
		%tr
			%td.transactionList
				= n.id
			%td.transactionList
				= "Type: #{n.notificationType}<br/>Notification: #{n.notificationId}<br/>Received: #{n.received_at}</br>Tx: #{n.transactionId}<br/>Orig: #{n.originalTransactionId}"
			%td.transactionList
				= n.body
